@charset "utf-8";
*{margin: 0;padding: 0;text-decoration: none;}
body{background-color: thistle;}
#header{
    position: relative; overflow: hidden;
    width: 1840px; height: 950px; 
    box-sizing: border-box; border: 2px solid red;
    margin: 0 auto;
    background: url("https://placehold.co/1840x950") center no-repeat;
    background-size: cover;
    }

.header_text{
    position: absolute;
    left: 100px; top: 500px;
    color: #fff;  }

.header_text p{
    font-size: 150px;
    font-weight: 900;
    line-height: 0.9; }

.header_text span{
    font-size: 80px;
    font-weight: 900;
    letter-spacing: -2px;}

.header_text button{
    position:absolute;
    margin-top: 80px;
    width: 300px; height: 40px;
    background-color: #fff;
    border: 1px solid #333;
    border-radius: 50px;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.3s;
    z-index: 1;

} 

.header_text button:hover{
    background-color: #999;
    color: #fff;
}

.main_subimg{
    position: absolute;
    bottom: 40px; right: 400px;
    height: 300px;
    z-index: 2;
    
}

.main_subimg .hs_img{
    position: absolute;
    width: 200px; height: 300px;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s; 
    z-index: 3;
    float: left;

}

.main_subimg .hs_img:hover {
  transform: scale(1.05);
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
}
/* _____________section1___________________ */

#section1{
    border: 2px solid purple;
    width: 1840px; height: 950px;
    box-sizing: border-box;
    position: relative;
    margin: 0 auto;
    display: inline-block;
    text-align: center;
    overflow: hidden;
    
}

.sec1_img p{
    position: absolute;
    color: #fff;
    font-size: 100px;
    text-align: center;
    top:40%;
    left: 300px;
    font-weight: 700;
}

/* _____________section2___________________ */
#section2{
    border: 2px solid blue;
    width: 1840px; height: 950px;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
}

.sec2_text{
    position: absolute;
    border: 1px solid black;
    left: 300px; top: 300px;
}
.sec2_text span{font-size: 20px;
line-height: 0.5;}
.sec2_text p:nth-child(1){
    font-size: 40px;
    line-height: 1.3;
}
.sec2_text p:nth-child(2){
    margin-top: 40px;
}

#section2 button{
    position: absolute;
    left: 300px; bottom: 180px;
    width: 180px;height: 40px;
    background-color: #ffd459;
    border: 1px solid black;
    border-radius: 50px;
    cursor: pointer;
}
#section2 button:hover{
    background-color: #fff;
    border: 1px solid black;
}
#section2 button:nth-child(2){
    position: absolute;
    left: 300px; bottom: 250px;
    width: 180px;height: 40px;
    background-color: #ffffff;
    border: 1px solid black;
    border-radius: 50px;  
    cursor: pointer;  
}
#section2 button:nth-child(2):hover{
    background-color: #ffd459;
    border: 1px solid black;
}

#section2 img{
    position: absolute;
    right: 300px; top:80px;
    vertical-align: center;}

/* _____________section3___________________ */
#section3{
    border: 2px solid rgb(0, 255, 200);
    width: 1840px; height: 950px;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    background-color: #304057;
    
}

#section3 img{
    position: absolute;
    align-items: center;
    left: 0; top: 100px;

}
.sec_img2, .sec_img3{display: none;}

#section3 .sec3_text1{ 
    position: absolute;
    right: 0; top: 100px;
    width: 800px; height: 240px;
    background-color: #fff;
    opacity: 0.3;
    cursor: pointer;
    }

#section3 .sec3_text2{
    position: absolute;
    right: 0; top: 340px;
    width: 800px; height: 240px;
    background-color: #ffd459;
    opacity: 0.3;
    cursor: pointer;
    }

#section3 .sec3_text3{ 
    position: absolute;
    right: 0; top: 580px;
    width: 800px; height: 240px;
    background-color: #fff;
    opacity: 0.3;
    cursor: pointer;
    }


/*
.sec3_text.active {
  transform: scale(1.5);
  box-shadow: 0 10px 20px rgba(0,0,0,0.5);
  z-index: 10;
  background: #f1c40f; /* 강조 색상 */

/*_____________________section4____________________*/

#section4{
    position: absolute;
    background: url("https://placehold.co/1840x950") center no-repeat;
    background-size: cover;
    z-index: 5;
    
}
.sec4_img{
    position: absolute;
    z-index: 6;
    display: inline-block;
    
}
